<div class="comment">
  <h3> Comments </h3> 
      <% @comments.each do |comment| %>
      <%= comment.user.name %> says:
      <div class="well"><%= simple_format comment.body %></div>
    <% end %>
</div>
