

	<div class="well">
		<h1> Welcome To Event Planner </h1>
		<h3> A Great Place to Host and Attend Events in Your Community </h3>
	<p class="sign-up-button"><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %></p>
	</div>
