$baseFontFamily: Roboto;
@import url(http://fonts.googleapis.com/css?family=Roboto);

@import 'bootstrap';


.navbar-inner{
	height: 55px;

}
.navbar-inner img{
	height: 40px;
	margin-left: 15px;
	background-color:black;
}

.form-inputs{
	margin-top: 80px;
	margin-left: 25px;
}

.well#index-header{
	margin-top: 50px;
}

.visitor{
	margin-top:100px;
}

.show-event{
	margin-top: 80px;

}
.box img{
	box-shadow: 1px 1px 10px #444;
}

.comment{
	margin-top: 80px;
	margin-left: 20px;
	width: 300px;

}
.comment img{
	margin-bottom: 10px;
	box-shadow: 1px 1px 10px #444;
}
.new-comment{
	margin-left: 20px;
}

.comment-form{
	margin-left: 20px;
}